body{
    background-color: rgba(243, 163, 77, 0.4);
}
img{
    float: left;
    width: 200px;
    height: 200px;
    border-radius:50px ;
}
h1{
    padding-left: 120px;
}
#datos{
    padding-left: 200px;
}